.App {
  text-align: center;
  background-color: #282c34;
  box-sizing: border-box;
}

.main {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  background-color: #1e1e20;
  padding:  0 25px;
  color: #fff;
  box-sizing: border-box;
}

.aside {
  width: 50%;
}



.input {
  width: 300px;
  height: 30px;
  padding: 5x;
  border-radius: 7px;
  border: 0;
  outline: 0;
  margin-right: 20px;
  border: 1px solid #6085d1;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  /* font-weight: 700; */
  border: 0;
  outline: 0;
  background-color: #6085d1;
  border: 2px solid #6085d1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 13px #5555ff;
}

.btn:hover {
  background-color: #fff;
  color: #6085d1;
}

.infContainer {
  width: 50%;
  display: flex;justify-content: space-around;
}

@keyframes pulsation {        /* объявляем имя анимации: "go-left-right" */
  from { box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #04d9ff, 0 0 82px #04d9ff, 0 0 92px #04d9ff, 0 0 102px #04d9ff, 0 0 151px #04d9ff;; }             /* от: left: 0px */
  to { box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 37px #04d9ff, 0 0 77px #04d9ff, 0 0 87px #04d9ff, 0 0 97px #04d9ff, 0 0 146px #04d9ff;; } /* до: left: 100%-50px */
}
.info {
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
  color: #fff;
  animation: pulsation 2s infinite alternate;
}


.colorBox {
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.colorBox p {
  -webkit-filter: invert(100%);
    filter: invert(100%);
}



.input-file {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
}
.input-file-btn {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #6085d1;
	line-height: 22px;
	height: 40px;
	border: none;
	margin: 0;
  padding: 5px 10px;
	transition: background-color 0.2s;
  box-shadow: 0 0 13px #5555ff;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #587dc6;
}
.input-file:active .input-file-btn {
	background-color: #5074bd;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

